<section class="event_show">

  <div class="event last clearfix">
    <% if @event.main_image.file? %>
      <div class="image">
        <%= image_tag @event.main_image(:regular) %>
        <div class="image_link">
          <%= link_to "Download Full Image", @event.main_image.url, :target => "_blank" %>
        </div>
      </div>
    <% end %>

    <h3> <%= @event.title %></h3>
    <div class="datetime">
      <p class="date"> 
        <i class="icon icon-calendar"> </i> 
        <%= @event.date_time.strftime("%A, %B %d, %Y") %>
      </p>

      <p class="time"> 
        <i class="icon icon-time"> </i> 
        <%= @event.date_time.strftime("%I:%M%p") %>
      </p>
    </div>

    <div class="location">
      <i class="icon icon-map-marker"> </i>
      <%= @event.location %>
    </div>

    <div class="">
      <i class="icon icon-align-left"> </i>
      <%= markdown.render(@event.description).html_safe %>
    </div>

  </div>

</section>