<div class="row-fluid home_content">
	<div class="span7">
		<!-- CARRUSSEL -->
			
			<div id="main_slider" class="carousel slide">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"> <%=image_tag("car1.png") %>
			    <div class="carousel-caption">
			    	<h4>Lorem Ipsum</h4>
			    	<p>This is only a test :D</p>
			    </div>
			  	</div> <!-- ITEM 1 -->
			    <div class="item"><%=image_tag("car1.png") %>
			    	 <div class="carousel-caption">
			    	<h4>Lorem Ipsum 2</h4>
			    	<p>This is only a test :D</p>
			    </div>
			    </div> <!-- ITEM 2 -->
			    <div class="item"><%=image_tag("car1.png") %>
			    	 <div class="carousel-caption">
			    	<h4>Lorem Ipsum 3</h4>
			    	<p>This is only a test :D</p>
			    </div>
			    </div> <!-- Item 3 -->


			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#main_slider" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#main_slider" data-slide="next">&rsaquo;</a>
			</div>

	</div>
	<!-- LEFT COMMENTS -->
	<div class="span5">
		<div class="comment_left">
		
		<h2 class="comment_section">Welcome to Glassbox</h2>
			<p class="comment_content"> 
				The name Glasbox implies transparency, which is an important quality in communities in general and business specifically. It also, superficially, describes our present physical space with all of the windows, but, more importantly, it opposes the idea of a "black box,"which, in some circles, denotes an inscrutable subroutine, or a part of a system which is excessively esoteric. We are a community of Creatives who welcome...
			</p>
			<%= link_to 'Read More', :about,  :class => "btn btn-primary right pull-right"%>
		</div> <!-- Cooments_left END -->
	</div>	
	<!-- LEFT COMMENTS END -->

</div>

<div class="row-fluid body_content">
	<div class="span7 home_about_content">
		<h4 class="subtitle">What is Glasbox?</h4>
		<p class="m_text"><b>Glasbox</b> is a facility that manufactures creative opportunities.</p>

		<iframe src="http://player.vimeo.com/video/54434468?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="100%" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

		<div class="row-fluid">
			<div class="span6">
				<i class="icon icon-briefcase"> </i> <span class="text_img">Lorem Ipsum</span>
				<p>
				Nam at sem in enim elementum pulvinar at eu lectus. Nulla facilisi. Nulla sem urna, imperdiet vitae rutrum vitae, egestas ut sapien. Mauris ac hendrerit ipsum.
				</p>
			</div>

			<div class="span6"> 
				<i class="icon icon-pencil"> </i> <span class="text_img">Lorem Ipsum</span>
				<p>
				Nam at sem in enim elementum pulvinar at eu lectus. Nulla facilisi. Nulla sem urna, imperdiet vitae rutrum vitae, egestas ut sapien. Mauris ac hendrerit ipsum.
				</p>

				<ul>
					<li><i class="icon icon-ok"> </i> Check 1</li> 
					<li><i class="icon icon-ok"> </i> Check 2</li>
					<li><i class="icon icon-ok"> </i> Check 3</li>
				</ul>
			</div>


		</div><!-- end row-fluid -->
	</div><!-- end span7 -->

	<div class="span5 home_members_content">
		<h4 class="subtitle"> Members </h4>

		<div id="members_slider" class="carousel slide">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		  	<% first_member = @members.first %>
		  	<% @members.each do |member| %>
			  	
			  	<div class="<% if member == first_member %> active <% end %> item img_holder">
			  		<%= image_tag(member.main_image(:regular))  %>			  	
			  	
			  </div> <!-- /IMG_HOLDER -->	
			 <% end %>
		  </div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#members_slider" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#members_slider" data-slide="next">&rsaquo;</a>
		</div><!-- end members_slider -->

		<div class="members_explantion">
			<p>
			First and foremost, GLASBOX is a great place to work and be creative. Membership includes free access to the events we host: cultural events, art openings, theatrical events, classes, workshops, and seminars. We are putting the finishing touches on our Conference/Classroom and the first of several CoWorking areas. We stock snacks and drinks including (great coffee) which are available free of charge to members and their guests. There is even a gym if you want a break or need to blow off some steam. We are constantly looking for ways to enhance the creative process, through networking and collaborative opportunities.
		</div>
	</div><!-- end home_members_content -->
</div>


<script type="text/javascript">
	$('.carousel').carousel()
</script>