<!DOCTYPE html>
<html>
<head>
  <title>Glasbox - Manufacturing Creative Oppertunites - El Paso Texas</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Alert Close Automatically-->
  <script>
    $(function() {
        setTimeout(function() {
            $(".alert").alert('close') 
          }, 5000);
    });
  </script>

</head>
<body>
  <%= render 'layouts/admin_bar' %>
  <%= render 'layouts/alerts' %>

    <header class="mainh"> 
          <div class="container">
            <div class="row">

              <div class="span12">
                  <!-- Title Goes here -->
                  <div class="logo"><%= link_to image_tag('logo.png'), :root %></div>

                  <!-- Navigation -->

                  <ul class="navigationm">
                    <li class="navli"> <%= link_to 'Home' %></li>
                    <li class="navli"> <%= link_to 'About' %></li>
                    <li class="navli"> <%= link_to 'Membership' %></li>
                    <li class="navli"> <%= link_to 'Events' %></li>
                    <li class="navli"> <%= link_to 'Contact' %></li>
                  </ul>

              </div><!-- EDN SPAN12 -->
            </div><!--  END ROW -->
          </div><!-- END Containter -->
             
         

    </header>
 
  <div class="container">
    <div class="row">

        <div class="span6">
        </div>
        <div class="span6">
          <div class="social-media">
            <p>
              You can follow us on the following social networks 
            </p>
            <ul>
              <li id="twitter"><%= link_to '', 'http://twitter.com/'%> </li>
              <li id="facebook"><%= link_to '', 'http://www.facebook.com/Glasbox' %></li>
            </ul>
            
            
          </div>
        </div>

      <div class="span12 main_content">
        
              
        <%= yield %>
        <%#= render '' %>
      </div>
    </div>
  </div>
</body>
</html>